*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url('https://res.cloudinary.com/daktzdqij/image/upload/v1709088757/super_mario_j1ux5h.jpg');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

.calculator-grid {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  justify-content: center;
  border-radius: 15px;
  border: 1px solid white;
}



.calculator-grid button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid button:hover,
.calculator-grid button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background: rgba(39, 18, 231, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;

}
